/* Add application styles & imports to this file! */
.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}
body
    {
    width: 100%;
    height: 100%;
    background-image:url(https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80);
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    }
    
    